header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

header .container {
  width: 100%;
}

.menu-left {
  float: left;
}

.menu-right {
  float: right;
}

.fa-bars {
  margin-right: 30px;
  color: white;
}

.top-wrapper {
  background-image: url("にゃんにゃかにゃーん.png");
  background-size: cover;
  text-align: center;
  color: white;
  margin-top: 0;
}
.container {
  width: 1170px;
  height: 800px;
  padding: 0 15px;
  margin: 0 auto;
}

.text2 {
  display: none;
}
